<form method="post" action="/todos">
  <h3> Create New Todo Item </h3> 
  <label> What do you need to do? <input type="text" name="todo_text"> </label>

  <label> When should it be done? (YYYY-MM-DD) <input type="text" name="due_date"> </label>
  <button> Save </button>
</form>
